<div class="bgc bg">

  <div
    class="content flex flex-col items-center justify-center h-[25vh] gt-xs:h-[30vh]"
  >
    <div>
      <div class="space-y-2 p-2">
        <div class="w-full flex justify-center">
          <span class="primary-heading">Data Not Found</span>
        </div>

        <div class="text-justify mb-[10px]">
          <span class="red-heading"> GETster Screens Management </span>
          <span class="para-bold"> is dependent on data from </span>
          <span class="red-heading"> GETster Coordinator app. </span>
          <span class="para-bold"> In order to proceed, pl click </span>
          <span class="red-heading"> GETster Coordinator app </span>
          <span class="para-bold"> and post relevant data in </span>
          <span class="red-heading">  GETster Screens Management </span>
          <span class="para-bold"> before accessing </span>
          <span class="red-heading">  GETster Screens Management. </span>
          <span class="para-bold"> In case, you are unable to access </span>
          <span class="red-heading"> GETster Coordinator app, </span>
          <span class="para-bold"> pl contact your App Administrator. </span>
        </div>
      </div>
    </div>
  </div>

  <div class="flex justify-center items-center mb-1">
    <button mat-raised-button class="red-button bg-[#ff3333]" color="warn" mat-dialog-close>
      Close
    </button>
  </div>
</div>
