<div class="bgc bg">
  <div>
    <mat-toolbar class="component--dialog-box__custom-toolbar bgc">
      <span class="example-spacer"></span>
      <button (click)="onNoClick()" mat-icon-button class="flex items-center justify-center im">
        <mat-icon style="color: black;" >close</mat-icon>
      </button>
    </mat-toolbar>
  </div>
  <div class="content flex flex-col items-center justify-center h-[16vh] gt-xs:h-[14vh]">
    <div>
      <div class="whitespace-nowrap mt-[-15px] underline underline-offset-2">
        <span class="normal-heading ">Access</span> <span class="para-red ml-[3px]">restricted </span>
        <span class="normal-heading">to APP administrators Only</span>
      </div>
    </div>
  </div>
</div>
