<div>
  <mat-toolbar class="component--dialog-box__custom-toolbar">
    <span class="font-small-in-size">Claim Rental Wavier</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="flex items-center justify-center">
      <mat-icon (click)="onNoClick()">close</mat-icon>
    </button>
  </mat-toolbar>
</div>

<div class="p-2 space-y-2">
  <!--Getster screen id-->
  <div class="w-full flex items-center gap-2">
    <div>
      <span class="para-bold">GETster Screen ID:</span>
    </div>

    <div>
      <span class="primary-heading">{{ getster_screen_id }}</span>
    </div>
  </div>

  <!--inch -- usage status-->

  <div class="w-full gt-xs:flex">
    <!--Right-->
    <div class="w-full flex items-center gap-2 float-right">
      <div>
        <span class="primary-heading">Screen Size (inch):</span>
      </div>

      <div>
        <span class="para-bold">{{ screen_inch }}</span>
      </div>
    </div>

    <!--left-->
    <div
      class="w-full flex items-center gap-2 gt-xs:float-left gt-xs:justify-end"
    >
      <div>
        <span class="primary-heading">Usage Status:</span>
      </div>

      <div>
        <span class="para-bold">Usage Validity Active</span>
      </div>
    </div>
  </div>

  <!--rental/usage-->
  <div class="w-full flex items-center gap-2 float-right">
    <div>
      <span class="primary-heading">Rental / Usage Valid Up To (date):</span>
    </div>

    <div>
      <span class="para-bold">{{ formatdate }}</span>
    </div>
  </div>

  <div>
    <!--table-->
    <div class="mt-[60px] gt-xs:mt-[45px]">
      <div class="mat-elevation-z8 example-container w-fit">
        <div id="pdfTable">
          <table
            *ngIf="dataSource"
            id="excel_table"
            mat-table
            [dataSource]="dataSource"
            class="component--mat-table__custom-table checklist-table table-bordered table-sm block"
          >
            <ng-container matColumnDef="col1">
              <th
                mat-header-cell
                *matHeaderCellDef
                style="
                  word-wrap: break-word;
                  min-width: 63px;
                  max-width: 230px;
                  padding-right: 8px;
                  padding-left: 8px;
                  text-align: center;
                  vertical-align: middle;
                "
                class="whitespace-nowrap"
              >
                GETster Exclusive <br />
                Partner Agreement <br />
                Valid Until:
              </th>
              <td
                mat-cell
                *matCellDef="let element"
                style="text-align: left; padding-left: 2mm"
              >
                <span class="para-bold">
                  {{ element.signupdate | date : "dd MMM y" }}
                </span>
              </td>
            </ng-container>
            <ng-container matColumnDef="col2">
              <th
                mat-header-cell
                *matHeaderCellDef
                style="
                  word-wrap: break-word;
                  min-width: 100px;
                  max-width: 210px;
                  padding-right: 8px;
                  padding-left: 8px;
                  text-align: center;
                  vertical-align: middle;
                "
                class="whitespace-nowrap"
              >
                Previous <br />
                Ac. Year 22-23 <br />
                Waste Collection
              </th>
              <td
                mat-cell
                *matCellDef="let element"
                style="text-align: left; padding-left: 2mm"
              >
                <span class="para-bold">
                  {{ element.overall_weight_collected }}
                </span>
                <span class="red-heading ml-[3px]">Kg</span>
              </td>
            </ng-container>

            <ng-container matColumnDef="col3">
              <th
                mat-header-cell
                *matHeaderCellDef
                style="
                  word-wrap: break-word;
                  min-width: 122px;
                  max-width: 200px;
                  padding-right: 8px;
                  padding-left: 8px;
                  text-align: center;
                  vertical-align: middle;
                "
                class="whitespace-nowrap"
              >
                Rental Waiver <br />
                Duration
              </th>
              <td
                mat-cell
                *matCellDef="let element"
                style="text-align: left; padding-left: 2mm; padding-right: 2mm"
              >
                <!-- {{ element.pendingmonthstobeclimbed }} <span>Months</span> -->

                <span class="para-bold">{{
                  floor(element.total_weight_yet_to_be_collect / 1000)
                }}</span>

                <span class="para-bold ml-[3px]">Months</span>
              </td>
            </ng-container>
            <ng-container matColumnDef="col4">
              <th
                mat-header-cell
                *matHeaderCellDef
                style="
                  word-wrap: break-word;
                  min-width: 100px;
                  max-width: 200px;
                  padding-right: 8px;
                  padding-left: 8px;
                  text-align: center;
                  vertical-align: middle;
                "
                class="whitespace-nowrap"
              >
                Rental Waiver <br />
                Claim Status
              </th>
              <td
                mat-cell
                *matCellDef="let element"
                style="text-align: left; padding-left: 2mm; padding-right: 2mm"
              >
                <span class="para-bold">Yet to be Claimed</span>
              </td>
            </ng-container>

            <tr
              mat-header-row
              *matHeaderRowDef="displayedColumns; sticky: true"
            ></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No data available</td>
            </tr>
          </table>
        </div>

        <div>
          <mat-paginator
            class="component--mat-pagination__size"
            #paginator
            #paginatorElement
            [length]="dataSource.data.length"
            [pageIndex]="0"
            [pageSizeOptions]="[5, 10, 20]"
            [pageSize]="5"
            [allValue]="paginator.length"
            appAddAllToPaginator
            (page)="pageChanged($event)"
          >
          </mat-paginator>
        </div>
        <span class="red-heading ml-[12px]"> * </span
        ><span class="para"> Please select All in order to use filter </span>
        <div class="flex bg-white-black" id="export_btn">
          <div class="custom-mat-floating-label">
            <mat-form-field
              appearance="outline"
              class="component--mat-form-field__custom-input pl-2"
            >
              <input
                placeholder="Filter"
                [disabled]="
                  dataSource.data.length === 0 ||
                  !(pageSize !== 5 && pageSize !== 10 && pageSize !== 20)
                "
                matInput
                (keyup)="applyFilter($event)"
                #input
              />
            </mat-form-field>
          </div>
          <div class="w-full flex justify-end">
            <span class="p-5 export-btn" [matMenuTriggerFor]="menu"
              >Export</span
            >
          </div>
        </div>
      </div>
    </div>

    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="downloadAsPDF()">
        <mat-icon>picture_as_pdf</mat-icon>
        <span>Print / Export PDF</span>
      </button>
      <button
        mat-menu-item
        (click)="exportReport('Your Educational Institution Syllabus.xlsx')"
      >
        <mat-icon>grid_on</mat-icon>
        <span>Export SpreadSheet</span>
      </button>
      <button
        mat-menu-item
        (click)="exportReport('Your Educational Institution Syllabus.csv')"
      >
        <mat-icon>grid_on</mat-icon>
        <span>Export csv File</span>
      </button>
      <button
        mat-menu-item
        (click)="exportReport('Your Educational Institution Syllabus.json')"
      >
        <mat-icon>grid_on</mat-icon>
        <span>Export json</span>
      </button>
    </mat-menu>
  </div>

  <!--After table text-->
  <div class="text-justify">
    <span class="para-bold"
      >Pl click the following button in order to claim the above rental waiver
      duration of
    </span>
    <span class="red-heading ml-[2px]"
      >{{ rental_waiver_claim_duration_in_months }} months</span
    >
    <span class="para-bold ml-[2px]">for GETster Screen ID:</span>
    <span class="red-heading ml-[2px]"> {{ getster_screen_id }}</span>
  </div>

  <!---button-->
  <div class="w-full flex justify-center">
    <button class="primary-button" mat-raised-button (click)="postclaimrent()">
      Claim Rental Waiver
    </button>
  </div>
</div>
