<div>
  <div class="mat-elevation-z8 mt-2 table-responsive w-fit">
    <div id="sellingdetailstable">
      <table
        id="excel_table"
        matSort
        mat-table
        #table
        [dataSource]="dataSource"
        style="margin-left: auto; margin-right: auto"
        class="component--mat-table__custom-table checklist-table table-bordered table-sm block"
      >
        <!-- Rental Column -->
        <ng-container matColumnDef="col1" style="">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="
              min-width: 162px;
              word-wrap: break-word;
              white-space: nowrap;
              padding-left: 8px;
              padding-right: 8px;
              vertical-align: middle;
              text-align: center;
            "
          >
            Screen Size <br />
            (inch)
          </th>
          <td
            style="vertical-align: middle; padding-left: 8px; text-align: left"
            mat-cell
            *matCellDef="let element"
          >
            <span class="para-bold">{{ element.screeninch }}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="col2" style="">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="
              min-width: 160px;
              word-wrap: break-word;
              white-space: nowrap;
              padding-left: 8px;
              padding-right: 8px;
              vertical-align: middle;
              text-align: center;
            "
          >
          Selling Price <br> (inc Taxes)
          </th>
          <td
            style="vertical-align: middle; padding-left: 8px; text-align: left"
            mat-cell
            *matCellDef="let element"
          >
         <span class="para-bold">{{ element.yearly1 }}</span>  <span class="red-heading ml-[3px]">{{element.yearly_currency}}</span></td>
        </ng-container>

        <!-- Usege Status Column -->
        <!-- <ng-container matColumnDef="col3" style="">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="
              min-width: 160px;
              word-wrap: break-word;
              white-space: nowrap;
              padding-left: 8px;
              padding-right: 8px;
              vertical-align: middle;
              text-align: center;
            "
          >
          Regular Selling <br> Price (inc Taxes)
          </th>
          <td
            style="vertical-align: middle; padding-left: 8px; text-align: left"
            mat-cell
            *matCellDef="let element"
          >
         <span class="para-bold">{{ element.yearly2 }} </span> <span class="red-heading ml-[3px]">{{element.yearly_currency}}</span></td>
        </ng-container> -->

        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns; sticky: true"
          style="text-align: center"
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          (click)="selection.toggle(row); onRowClicked(row)"
          (mouseover)="row.hovered = true"
          (mouseout)="row.hovered = false"
        ></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="3">
            Data not Found.
            <!-- "{{ input.value }}" -->
          </td>
        </tr>
      </table>
    </div>
    <mat-paginator
      class="component--mat-pagination__size"
      #paginator
      #paginatorElement
      [length]="dataSource.data.length"
      [pageIndex]="0"
      [pageSizeOptions]="[5, 10, 20]"
      [pageSize]="5"
      [allValue]="dataSource.data.length"
      appAddAllToPaginator
    >
    </mat-paginator>
    <span class="red-heading ml-[12px]"> * </span
      ><span class="para"> Please select All in order to use filter </span>
      <div class="flex bg-white-black" id="export_btn">
        <div class="custom-mat-floating-label">
          <mat-form-field
            appearance="outline"
            class="component--mat-form-field__custom-input pl-2"
          >
            <input
              placeholder="Filter"
              [disabled]="
                dataSource.data.length === 0 ||
                !(pageSize !== 5 && pageSize !== 10 && pageSize !== 20)
              "
              matInput
              (keyup)="applyFilter($event)"
              #input
            />
          </mat-form-field>
        </div>
        <div class="w-full flex justify-end">
          <span class="p-5 export-btn" [matMenuTriggerFor]="menu"
            >Export</span
          >
        </div>
      </div>

  </div>
</div>
<!-- Mat Menu -->
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="downloadAsPDFsel()">
    <mat-icon>picture_as_pdf</mat-icon>
    <span>Print / Export PDF</span>
  </button>
  <button mat-menu-item (click)="exportReport('sample.xlsx')">
    <mat-icon>grid_on</mat-icon>
    <span>Export SpreadSheet</span>
  </button>
  <button mat-menu-item (click)="exportReport('sample.csv')">
    <mat-icon>grid_on</mat-icon>
    <span>Export csv File</span>
  </button>
  <button mat-menu-item (click)="exportReport('sample.json')">
    <mat-icon>grid_on</mat-icon>
    <span>Export json</span>
  </button>
</mat-menu>
