<div class="space-y-2">
  <!--Buttons and mat-select-->
  <div class="gt-xs:flex items-center gap-2">
    <!--buttons-->
    <div class=" flex items-center gap-2">
      <div>
        <button
          class="primary-button"
          (click)="openbookscreen()"
          mat-raised-button
        >
          Book Screen Time
        </button>
      </div>

      <div>
        <button
          class="primary-button"
          (click)="openeditbookscreen()"
          mat-raised-button
          [disabled]="btnDisabled"
        >
          Edit Booking
        </button>
      </div>
    </div>
  </div>

  <div>
    <div>
      <p class="normal-heading text-justify">
        Please select the dates (From and To) in order to view GETster Screens
        Booking data:
      </p>
    </div>
    <form [formGroup]="firstFormGroup3">
      <div class="w-full gap-4 gt-xs:flex gt-xs:items-center gt-xs:gap-1">
        <!-- from date -->
        <div class="mt-2 mb-1 flex space-x-2 gt-sm:flex gt-sm:space-x-5">
          <p class="primary-heading mt-4">From:</p>
          <mat-form-field
            appearance="outline"
            class="component--mat-form-field__custom-input w-[60%] gt-sm:w-[70%] gt-lg:w-[70%]"
            (click)="dp.open()"
          >
            <mat-label>Choose From Date</mat-label>
            <input
              matInput
              [matDatepicker]="dp"
              formControlName="date1"
              required
              readonly
              (dateChange)="onDateSelected($event)"
            />
            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker #dp></mat-datepicker>
            <mat-error
              *ngIf="
                firstFormGroup3.get('date2')?.hasError('required') ||
                firstFormGroup3.get('date2')?.touched
              "
            >
              Date is required
            </mat-error>
          </mat-form-field>
        </div>
        <!--To date-->
        <div class="mb-2 flex space-x-6 gt-sm:flex mt-[5px] gt-sm:space-x-5">
          <p class="primary-heading mt-4">To:</p>
          <mat-form-field
            appearance="outline"
            class="component--mat-form-field__custom-input w-[60%] gt-sm:w-[70%] mt-[5px] gt-lg:w-[70%]"
            (click)="dp1.open()"
          >
            <mat-label>Choose To Date</mat-label>
            <input
              matInput
              [matDatepicker]="dp1"
              formControlName="date2"
              required
              readonly
              (dateChange)="onDateSelectedto($event)"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="dp1"
            ></mat-datepicker-toggle>
            <mat-datepicker #dp1></mat-datepicker>
            <mat-error
              *ngIf="
                firstFormGroup3.get('date2')?.hasError('required') ||
                firstFormGroup3.get('date2')?.touched
              "
            >
              Date is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>

  <div class="mt-4 mb-3">
    <div
      class="mat-elevation-z8 example-container gt-xs:w-fit"
      style="margin-bottom: 10px; margin-left: 5px"
    >
      <div id="pdfTable">
        <table
          *ngIf="dataSource"
          id="excel_table"
          mat-table
          [dataSource]="dataSource"
          class="component--mat-table__custom-table checklist-table table-bordered table-sm block gt-xs:w-fit"
        >
          <ng-container
            matColumnDef="DateAndTime"
            style="border-right: 1px solid #9a9a9a"
          >
            <th
              mat-header-cell
              *matHeaderCellDef
              style="
                min-width: 170px;
                width: 170px;
                vertical-align: middle;
                text-align: center;
              "
            >
              From Date Time
            </th>
            <td
              mat-cell
              *matCellDef="let element"
              style="
                text-align: left;
                vertical-align: middle;
                white-space: nowrap;
                padding-left: 2mm;
              "
            >
              <mat-radio-button
                [(ngModel)]="tables"
                (click)="enable_edit(element)"
              >
                <span class="para-bold">{{
                  element.fromdate | date : "dd MMM y, h:mm a"
                }}</span>
              </mat-radio-button>
            </td>
          </ng-container>

          <ng-container matColumnDef="TransactionID">
            <th
              mat-header-cell
              *matHeaderCellDef
              style="
                min-width: 150px;
                width: 150px;
                word-wrap: break-word;
                text-align: center;
                vertical-align: middle;
              "
            >
              To Date Time
            </th>
            <td
              mat-cell
              *matCellDef="let element"
              style="
                text-align: left;
                vertical-align: middle;
                padding-left: 2mm;
              "
            >
              <span class="para-bold">{{
                element.todate | date : "dd MMM y, h:mm a"
              }}</span>
            </td>
          </ng-container>

          <ng-container matColumnDef="Description">
            <th
              mat-header-cell
              *matHeaderCellDef
              style="
                min-width: 110px;
                width: 100px;
                vertical-align: middle;
                text-align: center;
              "
            >
              GETster Screen ID
            </th>
            <td
              mat-cell
              *matCellDef="let element"
              style="
                text-align: left;
                vertical-align: middle;
                padding-right: 8px;
                padding-left: 8px;
              "
            >
              <div>
                <span class="para-bold">{{ element.screenid }}</span>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="TransactionType">
            <th
              mat-header-cell
              *matHeaderCellDef
              style="
                width: 160px;
                max-width: 160px;
                word-wrap: break-word;
                white-space: nowrap;
                vertical-align: middle;
                text-align: center;
              "
            >
              Duration (HH:MM)
            </th>
            <td
              mat-cell
              *matCellDef="let element"
              style="
                text-align: left;
                vertical-align: middle;
                padding-left: 2mm;
              "
            >
              <div>
                <span class="para-bold"> {{ element.duration }}</span>
              </div>
            </td>
          </ng-container>

          <tr
            mat-header-row
            *matHeaderRowDef="displayedColumns; sticky: true"
          ></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="8">No data available</td>
          </tr>
        </table>
      </div>
      <div>
        <mat-paginator
          class="component--mat-pagination__size"
          #paginator
          #paginatorElement
          [length]="dataSource.data.length"
          [pageIndex]="0"
          [pageSizeOptions]="[5, 10, 20]"
          [pageSize]="5"
          [allValue]="paginator.length"
          appAddAllToPaginator
          (page)="pageChanged($event)"
        >
        </mat-paginator>
      </div>

      <span class="red-heading ml-[12px]"> * </span
        ><span class="para"> Please select All in order to use filter </span>
        <div class="flex bg-white-black" id="export_btn">
          <div class="custom-mat-floating-label">
            <mat-form-field
              appearance="outline"
              class="component--mat-form-field__custom-input pl-2"
            >
              <input
                placeholder="Filter"
                [disabled]="
                  dataSource.data.length === 0 ||
                  !(pageSize !== 5 && pageSize !== 10 && pageSize !== 20)
                "
                matInput
                (keyup)="applyFilter($event)"
                #input
              />
            </mat-form-field>
          </div>
          <div class="w-full flex justify-end">
            <span class="p-5 export-btn" [matMenuTriggerFor]="menu"
              >Export</span
            >
          </div>
        </div>
    </div>

    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="downloadAsPDF()">
        <mat-icon>picture_as_pdf</mat-icon>
        <span>Print / Export PDF</span>
      </button>
      <button
        mat-menu-item
        (click)="exportReport('Access Older Transactions.xlsx')"
      >
        <mat-icon>grid_on</mat-icon>
        <span>Export SpreadSheet</span>
      </button>
      <button
        mat-menu-item
        (click)="exportReport('Access Older Transactions.csv')"
      >
        <mat-icon>grid_on</mat-icon>
        <span>Export csv File</span>
      </button>
      <button
        mat-menu-item
        (click)="exportReport('Access Older Transactions.json')"
      >
        <mat-icon>grid_on</mat-icon>
        <span>Export json</span>
      </button>
    </mat-menu>
  </div>
</div>
