<div>
  <div class="mat-elevation-z8 table-responsive">
    <div
      id="pdfTable1"
      class="component--mat-table__custom-table overflow-auto"
    >
      <table
        *ngIf="dataSource"
        #table
        mat-sort
        id="excel_tables"
        mat-table
        [dataSource]="dataSource"
        class="component--mat-table__custom-table checklist-table table-bordered table-sm block"
      >
        <ng-container matColumnDef="entry_description">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="
              min-width: 305px;
              max-width: 330px;
              text-align: center;
              vertical-align: middle;
              white-space: nowrap;
            "
            class="lt-xs:w-[150px]"
          >
            Entry Description
          </th>
          <td
            mat-cell
            *matCellDef="let element"
            style="padding-left: 2mm; text-align: left; vertical-align: middle"
          >
            <!-- {{ element.Entry_description }} -->
          </td>
        </ng-container>
        <ng-container matColumnDef="entry_type">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="
              padding-left: 10px;
              padding-right: 10px;
              word-wrap: break-word;
              text-align: center;
              vertical-align: middle;
            "
          >
            Entry Type
          </th>
          <td
            mat-cell
            *matCellDef="let element"
            style="
              text-align: center;
              vertical-align: middle;
              white-space: nowrap;
            "
          >
            {{ element.Entry_type }}
          </td>
        </ng-container>
        <ng-container matColumnDef="entry_date_time">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="
              word-wrap: break-word;
              text-align: center;
              vertical-align: middle;
              padding-left: 15px;
              padding-right: 15px;
              white-space: nowrap;
            "
            class="w-[100px]"
          >
            Entry Date & Time
          </th>
          <td
            mat-cell
            *matCellDef="let element; let i = index"
            style="
              text-align: center;
              vertical-align: middle;
              white-space: nowrap;
            "
          >
            <div class="flex-col">
              <div>
                {{ element.entry_datetime | date : "d MMM y" }}
              </div>
              <div class="ml-[-19px]">
                {{ element.entry_datetime | date : "h:mm a" }}
              </div>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="entry_by_user_name">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="
              word-wrap: break-word;
              text-align: center;
              vertical-align: middle;
              white-space: nowrap;
              padding-left: 10px;
              padding-right: 10px;
              min-width: 203px;
            "
          >
            Face ID/User Name
          </th>
          <td
            mat-cell
            *matCellDef="let element; let row"
            style="
              text-align: center;
              vertical-align: middle;
              padding-left: 5px;
              padding-right: 10px;
              white-space: normal;
            "
            class="style"
          >
            <div
              style="
                display: flex;
                align-items: center;
                overflow-y: hidden;
                gap: 10px;
              "
            >
              <div>
                <!-- <img
                [src]=" getCustomerProfileUrl(element.customer_image)"
                  alt=""
                  class="h-12 w-12 mt-1 mr-1 mb-1"
                  (click)="openUserProfile()"
                  (click)="isrowselectedfirstreply(row)"
                /> -->
              </div>

              <div class="grid whitespace-nowrap">
                <div
                  style="
                    display: flex;
                    justify-content: left;
                    gap: 5px;
                    text-align: center;
                    cursor: pointer;
                  "
                  (click)="openUserProfile()"
                  (click)="isrowselectedfirstreply(row)"
                >
                  <span class="primary-heading">
                    {{ element.First_name | titlecase }}</span
                  >
                  <span class="primary-heading">
                    {{ element.Last_name | titlecase }}</span
                  >
                </div>
                <!-- <ng-container
                  *ngFor="let i of element.category_names; let last = last"
                >
                  {{ i.c_name | titlecase }}<span *ngIf="!last">,</span>
                </ng-container> -->
                <div>
                  <span class="para-bold">
                    {{ element.category_names[0].c_name }}
                  </span>
                </div>
              </div>
            </div>
          </td>
        </ng-container>
        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns; sticky: true"
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          (click)="selection.toggle(row); onRowClicked(row)"
          [ngClass]="{
            hovered: row.hovered,
            highlighted: selection.isSelected(row)
          }"
          (mouseover)="row.hovered = true"
          (mouseout)="row.hovered = false"
        ></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data available</td>
        </tr>
      </table>
    </div>
    <div>
      <mat-paginator
        class="component--mat-pagination__size"
        #paginator
        #paginatorElement
        [length]="totalRows"
        [pageIndex]="currentPage"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        (page)="pageChanged($event)"
        appAddAllToPaginator
        [allValue]="paginator.length"
      >
      </mat-paginator>
    </div>

    <span class="red-heading ml-[12px]"> * </span
    ><span class="para"> Please select All in order to use filter </span>
    <div class="flex bg-white-black" id="export_btn">
      <div class="custom-mat-floating-label">
        <mat-form-field
          appearance="outline"
          class="component--mat-form-field__custom-input pl-2"
        >
          <input
            placeholder="Filter"
            [disabled]="
              dataSource.data.length === 0 ||
              !(pageSize !== 5 && pageSize !== 10 && pageSize !== 20)
            "
            matInput
            (keyup)="applyFilter($event)"
            #input
          />
        </mat-form-field>
      </div>
      <div class="w-full flex justify-end">
        <span class="p-5 export-btn" [matMenuTriggerFor]="menu">Export</span>
      </div>
    </div>
  </div>
</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="downloadAsPDF()">
    <mat-icon>picture_as_pdf</mat-icon>
    <span>Print / Export PDF</span>
  </button>
  <button mat-menu-item (click)="exportReport('sample.xlsx')">
    <mat-icon>grid_on</mat-icon>
    <span>Export SpreadSheet</span>
  </button>
  <button mat-menu-item (click)="exportReport('sample.csv')">
    <mat-icon>grid_on</mat-icon>
    <span>Export csv File</span>
  </button>
  <button mat-menu-item (click)="exportReport('sample.json')">
    <mat-icon>grid_on</mat-icon>
    <span>Export json</span>
  </button>
</mat-menu>
